.container{
    text-align: center;
    margin-top:23px
}
body{
    background-color:rgb(187, 164, 32);
    background-image: url("download.jpg");
}
h1{
    color: rgb(124, 13, 100);
    font-family: algerian;
    font-size: 2rem;
}

table{
    margin:auto;
}

input{
    border-radius: 21px;
    border: 5px solid #b8d415;
    font-size:34px;
    height: 65px;
    width: 456px;
}

button{
    border-radius: 20px;
    font-size: 40px;
    background: #17b1db;
    width: 102px;
    height: 90px;
    margin: 6px;
}

.calculator{ 
    border: 4px solid #b81890;
    background-color: #c94848;
    padding: 23px;
    border-radius: 53px;
    display: inline-block;
    
}
